npm-debug.log
node_modules
app.js
app.js.map
bootstrap.js
bootstrap.js.map
user.js
user.js.map
uuid.js
uuid.js.map
thread.js
thread.js.map
message.js
message.js.map
UserService.js
UserService.js.map
MessageService.js
MessageService.js.map
MessageService.spec.js
MessageService.spec.js.map
vendor.js
vendor.js.map
ThreadService.js
ThreadService.js.map
ThreadService.spec.js
ThreadService.spec.js.map
services.js
services.js.map
ChatNavBar.js
ChatNavBar.js.map
ChatThreads.js
ChatThreads.js.map
ChatWindow.js
ChatWindow.js.map
ChatThread.js
ChatThread.js.map
ChatMessage.js
ChatMessage.js.map
FromNowPipe.js
FromNowPipe.js.map
ChatExampleData.js
ChatExampleData.js.map
util.js
util.js.map
